In [141]:
import numpy as np
import pandas as pd
import sklearn as sk

In [142]:
df1 = pd.read_csv(r'data\train.csv')
df2 = pd.read_csv(r'data\test.csv')

In [143]:
# Question 1
data = pd.concat([df1,df2])
data.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [144]:
# Question 2
data.Survived = data.Survived.dropna()

In [145]:
# Question 3
data['Has_Cabin'] = data['Cabin'].isnull()

In [146]:
# Question 4
import re
pattern = re.compile('(\w*[.])')
title_list = []
titles = ["Mr.", "Mrs.", "Master.", "Miss."]
for i in data['Name']:
    title = pattern.findall(i)
    title = ''.join(title) #converting list type to str
    if title in titles:
        title_list.append(title[0:-1])
    else:
        title_list.append('Special')
    
data['Title'] = title_list

In [147]:
# Question 5
data['Embarked']=data['Embarked'].fillna('S')
data['Cabin']=data['Cabin'].fillna(value='C25')
data['Age']=data['Age'].fillna(data['Age'].mean())
data['Fare']=data['Fare'].fillna(data['Fare'].mean())

In [148]:
# Question 6
data['Categorical_age']=pd.qcut(data.Age,4,labels=False)
data['Categorical_fare']=pd.qcut(data.Fare,4,labels=False)

In [149]:
# Question 7
cols = ['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch']
data = data.drop(cols,axis=1)

In [150]:
# Question 8
data = pd.get_dummies(data)

In [155]:
# Question 9
#x = data.columns.difference(['Survived'])
x = data[['Pclass', 'Has_Cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_Master', 'Title_Miss', 'Title_Mr',
       'Title_Mrs', 'Title_Special']]
y = data.Survived
#x.shape
#y.shape
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=0)

In [156]:
# Question 10
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [157]:
prediction = classifier.predict(x_test)

In [158]:
# Question 11
score = classifier.score(x_test,y_test)
print(score)

0.7480916030534351